.auth_cover{
    padding-top: 80px;
}

body.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(http://guestbook//assets/starter/img/home-bg.jpg);
}

.mce-notification-inner,
.mce-close{
    display: none !important;
}

.mce-notification-warning {
    background-color: transparent !important;
    border-color: transparent !important;
}